#map { 
    height: 350px; 
}

#sos-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
